.dialog_nav {
    background-image: url("../../images/dialog_nav.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.className="glass_bg" {
    /* From https://css.glass */
    background: rgba(54, 53, 53, 0.3);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(54, 53, 53, 0.1);
  }